body{
    margin: 0px;
	padding: 0px;
}
.container{
  width: 100%;
  height: auto;
  background-image: url("../image/background.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.content{
	width: 900px;
	width: 1100px;
    margin: 0 auto;
    height: auto;
    padding: 80px 80px;
}
.header{
	font-family: Chalkboard;
	font-size: 55px;
	line-height: 1.6;
	color: #f5f5f5;
	text-align: center;
}
h1{
	font-family: Chalkboard SE;
	font-size: 35px;
	line-height: 1.6;
	color: #999999;
	text-align: center;
	padding: 40px 20px;
}
li{
	font-family: Chalkboard SE;
	font-size: 25px;
	line-height: 1.6;
	color: #f5f5f5;
	max-width: 460px;
	padding: 10px 10px;
	margin: 0 auto;
}
ul li ul li{
	font-family: Chalkboard SE;
	font-size: 20px;

}



